
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
	line-height: 1;
	font-family:'GothamLight';
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html,body{scroll-behavior: smooth;}
section{margin-bottom: 80px;}
h2{font-size:38px;}
h3{font-size: 28px;}
h4{font-size: 18px;}
p{font-size: 16px;line-height: 1.3;font-weight: 900;}

.fixed-icon{font-size: 30px;padding: 8px 16px;color: white;background-color: rgb(255, 0, 0);border-radius: 35px;position: fixed;top: 92%;left: 94%;z-index: 9999999;;
	&:hover{color:#4D4D4D}
}
.main-image >img{width: 100px;height: 50px;object-fit: contain;}
.active-1{background-color: blue;color: white;}
// NAVBAR
nav.navbar{padding: 15px 120px;height:3.75rem;background-color:white;align-items:center;display:flex;    position: fixed;z-index: 9999;width: 100%;
	.navbar-toggler{height: 45px;width:70px;
		span{display: block;height: 8px;width:100% ;background-color: #000000;border-radius:5px;
			&:nth-of-type(2){margin:5px 0;}
		}
		&:focus{border: none;outline: none;}
	}
	.main-img{
		img{height:60px;}
	}
	#navbar{
		ul{align-items: center;
			li{margin: 0 10px;
				&:nth-of-type(4){
					img{position: relative;}
				}
				&:nth-of-type(3){background-color: red;border: none;color:white;border-radius:2px;
					a{color: white;}
					&:hover{background: #4D4D4D;color:red;}
				}
				&:last-of-type{
					span{
						img{height: 40px;border: 1px solid red;border-radius: 30px;padding: 10px;margin-right: 5px;}
					}
				}
				a{font-size: 15px;color: #000000;padding-right:8px;display:flex;align-items:center;
				   img{height: 40px;}
				   .fa{color: white;margin-right: 10;}
				   .login{border: 1px solid #4D4D4D;padding: 5px;border-radius: 20px;margin-right: 12px;}
				   &:hover{color: red;}
				   
			   }
		   }
	   }
	   >div{position: absolute;right: 200px;top:80px;background-color: white;height: 100px;width:330px;box-shadow: 10px 5px 25px rgba(128, 128, 128, 0.692);display: flex;justify-content: center;align-items: center;border-radius: 5px;z-index: 9999;
		li:hover{background-color: white;
		  }
	   }
	}
}

// MODAL
.modal{top: 110px;z-index: 9999999;
   >div{z-index: 999999999;
	  .modal-header{display: block;height:70px;display:flex;align-self:center;flex-direction:row;
		button{align-self: end;position: absolute;right: 20px;}
		h5{color: red;font-size: 20px;}
	}
	.modal-body{
		form{
		input{margin-bottom: 50px;width: 80%;margin:auto;
			&:nth-of-type(2){margin:20px auto;}
		}
		button{background: red;width: 80%;margin: auto;color: white;text-transform: uppercase;font-family:'Gotham'}
	}
	p{text-align: center;text-transform:capitalize;
		a{color: red;text-decoration: none;padding: 10px;}
	    }
     }
  }
}
// BILLBOARD
.hero{background: url(./images/Images/iStock-140781367.jpg);height: 50vh;background-position: center 10%;background-repeat: no-repeat;background-size: cover;display:flex;align-items:center;justify-content:center;position:relative;
	.overlay{background-color: rgb(0, 0, 0);position: absolute;left:0;right: 0;bottom: 0;opacity: .3;height: 100%;z-index: 1;}
	.search{background-color: red;height: 150px;width:50%;display: flex;flex-direction: column;justify-content:center;padding:0 30px;position: relative;z-index: 999;top: 9%;
		h1{font-size: 25px;align-self: flex-start;padding-bottom: 15px;color: white;}
		form{display: flex;
			input{width:90%;height: 35px;padding: 20px;border: none;background: url(./images/iconmonstr-search-thin-240.png);background-size:20px;background-repeat: no-repeat;background-color: white;padding-left:60px;background-position: 20px center;font-size: 15px;;
				>::placeholder{padding-left: 80px;text-transform: uppercase;text-align: center;}
			}
			button{height:40px;border: none;padding: 10px;font-size: 16px;text-transform: uppercase;color:white;background-color: #4D4D4D;;}
		}
		ul{padding:6px 0 ;
			li{padding-right: 30px;
				a{font-size: 15px;color: white;text-decoration: none;}
				.dropdown-item{color: #000000;}
			}
		}
	}
}
.listings-hero{height:20vh;background: none;width: 100%;
	.overlay{background: none;}
	.search{height: 140px;width: 100%;top:30%;background-color: whitesmoke;
		form{width: 50%;
			>input{height: 35px;width: 100%;}
			button{height: 40px;}
		}
		>ul >li{
			>div >a{font-size: 12px;color: black;}
		}
	}
}
nav.single-page{background-color:whitesmoke;}
// POPULAR AREAS
.popular-areas{text-align: center;
	>div{
		>h2{display: flex;align-items: center;justify-content: center;;
			&::before{content:'';background:#4D4D4D;width: 10%;height: 2px; margin: 0 15px;}
			&::after{content:'';background:#4D4D4D;width: 10%;height: 2px; margin:  0 15px; }
		}
		>p{color: #4D4D4D;padding: 18px}
		#carousel{
		.row{
			>div{
				>div{
					img{width: 100%;height: 350px;}
					>div{text-align: left;
						>h3{padding: 15px 50px;}
						>div{display: flex;justify-content: space-evenly;background-color:rgba(245, 245, 245, 0.158);margin:0 45px;border-radius: 4px;padding: 10px 0;box-shadow: 2px 6px 12px whitesmoke;
						  >div{
							  >h4{padding: 12px 0;}
							  >p{font-size: 12px;line-height: 1.3;}
							}
						   .border-r{border-right: 1px solid rgba(128, 128, 128, 0.774);border-left: 1px solid rgba(128, 128, 128, 0.774);padding:0 28px ;}
						  
						}
					}
				}
			   }
			   >div:last-child{
				>img{height: 350px;width:100%;;cursor: pointer;object-fit: cover;}
				.rentals-inner{display: flex;
					>img{width: 50%;height: 220px;padding: 3px 0 ;object-fit: cover;cursor: pointer;}
					>img:first-of-type{padding-right: 3px;}
				}
				>a{background: white;box-shadow: 2px 4px 8px whitesmoke;border-radius: 4px;height: 40px;width: 150px;display: flex;justify-content: center;align-items: center;color: black;margin-left: auto;border: 1px solid #4D4D4D;color: red;margin-top: 30px;
					&:hover{background-color: #4D4D4D;color: white;text-decoration: none;}
				      }
			       }
		       }
		   }
	   }
   }
// TRANDING PROPERTIES
.tranding-property{background-color:rgba(245, 245, 245, 0.158);padding-bottom: 60px;
	>div{
		>h2{padding: 60px 0 30px;display: flex;align-items: center;justify-content: center;
			&::before{content:'';background:#4D4D4D;width: 10%;height: 2px; margin: 0 15px;}
			&::after{content:'';background:#4D4D4D;width: 10%;height: 2px; margin:  0 15px; }
		}
		>div{
			>div:first-child{
				>div{box-shadow: 2px 8px 25px whitesmoke;
					>img{height:320px;width: 100%;object-fit: cover;}
					>div{padding: 22px;
						>h3{text-align: center;}
						>p{text-align: center;
							>i{color: gold;font-size: 18px;letter-spacing: 4px;padding: 10px 0;}}
						>div{display: flex;justify-content: space-between;;
							>div:first-child{
								>h4{padding: 15px 0;}
								>p:first-of-type{line-height: 1.3;}
								>p:last-of-type	>i{padding: 10px 0;width: 30%;font-size: 20px;width: 30%;margin: 10px 0 0;}
							}
							>div:last-child{
								>p:first-of-type{padding: 15px 0;}
								.features{margin-left: 140px;line-height: 1.5;}
							}
						}
					}
				}
			}
			>div:last-child{
			  >div{
				>div{margin-bottom: 15px;box-shadow: 2px 8px 25px whitesmoke;
				   >img{height: 160px;object-fit: cover;}
				   >div{text-align: center;padding:15px;
					>h3{text-align: center;font-size: 24px;}
					>p{text-align: center;
						>i{color: gold;font-size: 18px;letter-spacing: 4px;padding: 10px 0;}}
					>a{font-size: 14px;color:black;
						&:hover{text-decoration: none;color: red;}}
				      }
				   } 
				}
			}
		}
	}
}
// COMMUNITY
.community{
	>div{
		>h2{margin: 15px 0 30px;display: flex;align-items: center;;
			&::after{content:'';background:black;width: 20%;height: 2px; margin:  0 15px; }
		}
		>div{
			>div{
				>div{background-image: url(images/naomi-hebert-MP0bgaS_d1c-unsplash.jpg);background-size: cover;height:200px;border: none;border-radius: 5px;;
				    >div{display: flex;justify-content: space-evenly;align-items: center;height: 100%;background:rgba(0, 0, 0, 0.651);border-radius: 5px;flex-direction: column;;
						>a{color: white;font-size: 22px;
							>i{font-size: 20px;}
							.fab{color: black;background: white;padding: 15px;border-radius: 18px;}
							.fas{font-size: 24px;padding: 0 8px;}
							&:hover{color:red;text-decoration: none;}
						}
					}
				}
			}
		}
	}
}
/////// AREAS
.areas{background-color:rgba(245, 245, 245, 0.158);padding: 60px 200px;
     >div{
		 >h2{padding: 30px 0;text-align: center;}
		 >div{
			 >div{
				 >h3{padding: 20px 0;font-size: 25px;}
				 >p{line-height: 1.5;font-size: 14px;}
			 }
		 }
    }
}
///////SUBMIT
.submit{display: flex;justify-content:center;align-items: center;padding:0 20px 90px;margin-bottom: 0;
	>p{font-size: 22px;}
	>img{height: 60px;padding:0 10px;margin-bottom: 22px;}
	form{margin: 0;display: flex;
		input{height: 40px;border:1px solid #000000;width: 300px;padding:0 10px;border-right: none;}
		button{height: 40px;width: 150px;border: none;background: red;color: white;}
	}
	
}
///////SERVICES 
.services{background-color: red;padding:50px;margin-bottom: 0;;
	h5{font-size: 21px;color: white;font-weight: bolder;padding-bottom:20px;}
	ul{
		li{padding-bottom: 5px;
			a{font-size: 15px;color: white;line-height: 1.4;}
		}
	}

}
/////////FOOTER
.main-footer{margin-bottom: 30px;
	.footer-inner{justify-content: space-between;align-items: center;padding:30px 0;display: flex;
		ul{display: flex;
			li{padding-right: 15px;
				a{color:red;text-transform: capitalize;font-size: 20px;}
			}
		}
		img{height: 50px;}

	}
	.last{display: flex;justify-content:space-between;align-items:center;
		p{font-size: 15px;text-transform: capitalize;}
		.icons{display: flex;align-items:center;
			a{border:2px solid #4D4D4D;padding:10px;text-align:center;margin:10px;transition:all .5s ease-in-out;
				&:hover{background-color:#4D4D4D;color: white;}
				img{height: 20px;margin: auto;}
			}
		}
	}
}
/////////////Listings Page/////////////////
.rentals{background-color: whitesmoke;padding-bottom: 40px;;
	>div{padding: 40px 0;;
		>div{
			>div:last-child{background: whitesmoke;padding-top: 30px;
				.rentals-results{display: flex;justify-content: space-between;background-color: rgb(255, 0, 0);padding: 15px;color: white;margin: 40px 0 20px;
					>div{
						>select{background: red;border: none;color: white;}
					}
				}
				>h3{margin-bottom: 10px;display: flex;align-items: center;;
					&::after{content:'';background:#4D4D4D;width: 20%;height: 1.5px;margin: 0 20px;}

				}
				.card{border: none;position: relative;margin-top: 40px;
					>a{position:absolute;background-color:#4D4D4D;color:#DAA03DFF;padding: 6px 12px;top: 5px;left: 5px;border-radius: 3px;z-index: 99;}
					>div{display: flex;align-items: center;
						>img{width: 360px;height: 230px;}
						hr{width: 95%;margin:12px auto;}
						p{font-size: 13px;}
				       >div{
							>div{display: flex;justify-content: space-between;padding: 0 15px;;
								>p{margin: 0 10px 18px 0;line-height: 1.4;}
								>img{width: 80px;height: 50px;object-fit: cover;border-radius: 3px;}
							}
							>div.prio{background-color: #DAA03DFF;padding:0 15px;;
								>div{
									>a{font-size: 12px;color: gold;letter-spacing: 1.5px;}
								}
								>div:nth-child(2){display: flex;align-items: center;
									>h5{font-size: 15px;margin: 0 10px;}
									>p{width: 80px;background:gold;text-align: center;padding: 5px;;}
									.priority{background-color:#4D4D4D;color: white;z-index: 999999;;}
								}
							}
							>div:last-child{align-items: center;justify-content: start;
								>span{margin-right: 20px;font-size: 15px;}
								>a{border: 1px solid rgba(255, 0, 0, 0.733);border-radius: 3px;padding: 6px 12px;color: black;margin-left: auto;text-align: center;font-size: 14px;}
								
							}
				        }
			        }
				}

			}
			>div:first-child >div{text-align: center;
				>div:first-child{height: 300px;;box-shadow: 2px 2px 30px whitesmoke;border: none;padding: 15px 0; ;
				>h3{line-height: 1.3;}
				>p{margin: 20px 0;color: #4D4D4D;}
				>div{margin: 30px 10px 0;
					>input{height: 40px;width: 100%;border: 1px solid rgba(255, 0, 0, 0.507);text-align: center;}
					>a{height: 40px;width: 100%;background-color:red;color: white;display: flex;align-items: center;justify-content: center;}
				}
			  }
			  >div:last-child{margin-top: 60px;
				  .card{box-shadow: 2px 2px 30px whitesmoke;border: none;padding: 15px 0;margin-top: 20px;
					h4{margin: 15px;line-height: 1.4;}
					  >div{display: flex;flex-direction: column;align-items: center;;
						  >img{width: 80%;border-radius: 5px;}
						  >a{border-radius: 2px;padding: 6px 12px;color:white;margin: 10px 0;width: 150px;background-color: red;}
					  }
				  }
			  }
			}
		}
	}
}
.priority-listings{border: none;position: relative;margin-top: 40px;
	>a{position:absolute;background-color:#4D4D4D;color:#DAA03DFF;padding: 6px 12px;top: 5px;left: 5px;border-radius: 3px;z-index: 99;}
	>div{display: flex;align-items: center;;
		hr{width: 95%;margin:12px auto;}
		p{font-size: 13px;}
	   >div{
			>div{display: flex;justify-content: space-between;padding: 0 15px;;
				>p{margin: 0 10px 18px 0;line-height: 1.4;}
				>img{width: 80px;height: 50px;object-fit: cover;border-radius: 3px;}
			}
			>div.prio{
				>div{
					>a{font-size: 12px;color: gold;letter-spacing: 1.5px;}
				}
				>div:nth-child(2){display: flex;align-items: center;
					>h5{font-size: 15px;margin: 0 10px;}
					>p{width: 80px;background:gold;text-align: center;padding: 5px;;}
					.priority{background-color:#4D4D4D;color: white;z-index: 999999;;}
				}
			}
			>div:last-child{align-items: center;justify-content: start;
				>span{margin-right: 20px;font-size: 15px;}
				>a{border: 1px solid rgba(255, 0, 0, 0.733);border-radius: 3px;padding: 6px 12px;color: black;margin-left: auto;text-align: center;font-size: 14px;}
			}
		}
	}
}
.large-img{width:100%;height: 250px;object-fit: cover;}
.featured{background-color: white;border-right: 1px solid gold;margin-top: 50px;position: relative;
	.ribbon{position:absolute;background-color:#4D4D4D;color:gold;padding: 6px 12px;top: 78px;left:5px;border-radius: 1px;z-index: 99;}
	>div:first-child{display: flex;background-color: gold;justify-content:space-between;align-items: center;padding: 20px 10px;width: 100%;
		>h3{font-size: 24px;}
		>h4{font-size: 20px;}
		.feature{color: gold;background-color: #4D4D4D;padding: 10px;font-size: 12px;z-index: 9999;}
	}
	.second{display: flex;
			>div:last-child{display: flex;flex-direction: column;
			.small-img{margin:0 0 8px 8px ;width:235px;height: 120px;object-fit:cover}}
			>div >a >span{background-color: gold;}
		    
	}
	.last{display: flex;
		>div:first-child{padding: 15px;
			>h3{font-size: 22px;}
			>p{font-size: 13px;margin: 12px 0;}
			>div{align-items: center;justify-content: start;
				>span{margin-right: 20px;font-size: 14px;}
				>a{border: 1px solid gold;border-radius: 3px;padding: 6px 12px;color: black;margin-left: auto;text-align: center;font-size: 13px;}
			}
		}
		>div:last-child{text-align: center;position: relative;height: 130px;;
			   >img{width: 235px;height:100%;object-fit:cover;}
			   >div{position: absolute;background: rgba(0, 0, 0, 0.514);color: white;top: 0;height: 100%;width: 100%;;display: flex;flex-direction: column;justify-content: center;align-items: center;
				h5{font-size: 22px;margin-bottom: 10px;}
				>span{margin: 3px 0;font-size: 11px;}
			}
			
			   
		}
	}
}

.FEATURED{border-right:1px solid #DAA03DFF ;
	>div:first-child{background-color: #DAA03DFF;}
     .priority-list{display: flex;border:none;
	     .second{
	          .prio-img{width:360px;height: 100%;}
				}
	      .last{flex-direction: column;
	  .prio-icons{text-align: left;padding: 0 15px;height:20px;
			>span{margin-right: 70px;}
			>a{color: black;border: 1px solid #DAA03DFF;border-radius: 2px;padding: 5px 12px;font-size: 12px;margin-right: auto;}
		}
		>div:last-child{display: flex;padding:0 15px;justify-content: space-between;align-items: center;height: 80px;
			>h4{font-size: 15px;line-height: 1.3;text-align: left;color: #DAA03DFF;}
			>img{width: 120px;height: 60%;}
		}

	}
}
}	





	
.container-breadcrumb{
	padding: 100px 0 0 0;
	

}

.breadcrumb {
	display: flex;
	border-radius: 6px;
	overflow: hidden;
	margin: auto;
	text-align: center;
	top: 50%;
	width: 100%;
	height:50px;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 11px;
	background-color: white;
}

	.breadcrumb a {
		position: relative;
		display: flex;
		text-decoration: none;
		margin: auto;
		height: 100%;
		padding:0 18px;
		color: red;
		font-weight: bold;
	}


		.breadcrumb a:after {
			content: "";
			position: absolute;
			display: inline-block;
			width:40px;
			height: 40px;
			top: -7px;
			right: -20px;
			border-top-right-radius: 5px;
			transform: scale(0.707) rotate(45deg);
			box-shadow: 1px -1px rgba(0,0,0,0.25);
			z-index: 1;
			margin-right: 4px;
		}
		.breadcrumb a:first-child:before {
			content: "";
			position: absolute;
			display: inline-block;
			width:40px;
			height: 40px;
			top: -7px;
			right: 100px;
			// background-color: #ddd;
			border-top-right-radius: 5px;
			transform: scale(0.707) rotate(-135deg);
			box-shadow: 1px -1px rgba(0,0,0,0.25);
			z-index: 1;
			padding: 0 20px ;
		}

		.breadcrumb a:last-child:after {
			content: none;
			}

	.breadcrumb__inner {
		display: flex;
		flex-direction: column;
		margin: auto;
		z-index: 2;
	}

// .breadcrumb a.active, .breadcrumb a:hover{
// 	color: white;
// }

// .breadcrumb a.active:after, .breadcrumb a:hover:after {
// 	color: white;
// }
// .breadcrumb a.active:after, .breadcrumb a:first-child:hover:before {
// 	color:white;
// }


.carousel-image{height: 500px;width: 100%;object-fit: cover;}
.carousel-thumbnails .carousel-indicators img {
    width: 100%;
    height: 50px;
    overflow: hidden;
	display: block;
	object-fit: cover;
}
.carousel-indicators{background:rgba(0, 0, 0, 0.644);padding:10px ;}
.carousel-caption{top:40%;
       >h1{color:rgba(255, 0, 0, 0.671);font-size: 42px;}}
.carousel-thumbnails .carousel-indicators li {
   height: auto;
    width: 100px;
    border: none;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
	
	&.active {
		border-bottom: 4px solid #fff;
	}
}
// single listings page
.btn-primary{background-color: red;border: none;
&:hover{background-color: whitesmoke;color: red;}}
.card-icons >i{margin:15px 30px 0 0  ;}
.single-card-image{width: 100%;height: 250px;}
.single-listings-card{background-color: whitesmoke;}
span{color: red;}
.single-listings-page{display: flex;background-color:whitesmoke;align-items: center;;
	>div{padding: 0 8px;
		>h4{color:red;font-size: 22px;padding-bottom: 5px;}
	}
	>div:first-child{background-color: gold;margin-right:5px;padding: 12px 20px;}
}
.single-description{margin: 20px 0 80px;
	h4{font-size: 19px;margin: 5px 0;}
	>p{font-size: 13px;color: gold;}
	>div{margin: 20px 0;
		>p{font-size: 15px;line-height: 1.4;margin: 10px 0;}
		>div{display: flex;margin: 20px 0;background-color:gold;
		>img{width: 50%;object-fit: cover;margin-right: 30px;}
		>div {padding: 20px 0;
			>div{margin: 15px 0;
			>p{font-size: 14px;}
	        	}
        	}
        }
	}
}
// agent details
.agent-details{margin-top: 150px;border: none;box-shadow: 1px 1px 20px rgb(182, 182, 182);padding: 15px;;
	>h3{margin-bottom: 15px;font-size: 26px;}
	>img{width: 100%;height: 180px;}
	>button{background-color: red;color: white;width: 100%;border: none;border-radius: 0;}
	>h4{margin: 15px 0 ;}
	>form{
		>input{height: 40px;width: 100%;margin: 8px 0;padding:5px 10px;}
		>textarea{width: 100%;height: 120px;padding:5px 10px;margin: 8px 0;}
		>a{height: 35px;width: 100%;background-color: red;color: white;display: flex;justify-content: center;align-items: center;}
	}
	>p{font-size: 12px;text-align: center;margin: 5px;}
}
.myText{display: none;
	>p{font-size: 18px;margin: 10px 0;}
	>div{display: flex;justify-content: space-between;
		>p{font-size: 18px;margin: 10px 0;}
		>a{width: 49%;color: white;background-color: red;height: 35px;align-items: center;justify-content: center;display: flex;
			&:hover{text-decoration: none;background-color: blue;}
		>i{margin-right: 10px;}}
	}
}
.comments{margin: 20px 0;
	
	>p{display: flex;padding: 15px 0;
		>i{font-size: 28px;margin-right: 15px;}
	}
}






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
section{margin-bottom: 50px;}
h2{font-size:26px;}
h3{font-size: 24px;}
h4{font-size: 14px;}
p{font-size: 14px;}
.fixed-icon{left: 84%;padding: 3px 10px;}
//////NAVBAR
nav.navbar{padding:0 0px;height: 12vh;
	.main-img{
		>img{height:60px;padding-left: 10px;}}
	button.navbar-toggler{
    	>span{height: 3px;margin: 6px 0;width: 30px;}}
        #navbar{position: absolute;top:100%;background-color: #4D4D4D;width: 100%;padding:30px;z-index: 999;;
	       ul{align-items:flex-start;color: white;line-height: 4;;
			  >li{
			     a{color: white;}
				}
				#nav-item-4{background-color: #4D4D4D;}
		    }
        }
    }

///////HERO
.hero{height: 100vh;
	.search{background-color:transparent;padding:0 0px;width:90%;
		h1{font-size: 30px;align-self: flex-start;padding-bottom: 30px;color: white;}
		form{flex-direction: column;
			input{width:100%;margin-bottom:20px;
				>::placeholder{padding-left:0px;font-size: 16px;}
			}
			button{order: 4;}
		}
		ul{flex-wrap: wrap-reverse;
			li{padding-right:0px;width:50%;background-color: #fff;height: 37px;margin-bottom:20px;margin-right:0px;display:flex;justify-content:left;align-items:center;padding:5px;
				a{color: black;font-size: 16px;}
				.dropdown-item{color: #000000;}
			}
		}
	}
	
}
//////// POPULAR-AREAS
.popular-areas{
		>div{
			>h2{
				&::before{width: 10%;height: 1px;margin: 8px;}
				&::after{width: 10%;height: 1px;margin: 8px;}}
			>p{padding:6px 0 18px;font-size: 15px;}
			#carousel{
			.row{
				>div{
					>div{
						img{width: 100%;height: 250px;}
						>div{margin-bottom: 0;
							>h3{padding:10px;}
							>div{margin:0;flex-direction: column;padding:0 35px;;
							  >div{
								  >h4{padding: 12px 0;font-size:18px;}
								  >p{line-height: 1.4;}
								}
							   .border-r{padding:0;border: none;}
						    	}
						   }
					   }
				    }
				}
			}
	    }
    }
/////// TRANDING PROPERTIES
.tranding-property{padding-bottom: 40px;
	>div{
		>h2{padding: 40px 0 30px;
			&::before{display: none;;}
			&::after{display: none;}
		}
		>div{
			>div:first-child{
				>div{margin-bottom: 30px;
					>img{height:250px;}
					>div{padding: 15px;margin-bottom: 0;
						>p >i{font-size: 13px;padding: 6px 0;}
						>div{flex-direction: column;
							>div:first-child{
								>h4{padding: 10px 0;font-size: 16px;}
								>p:first-of-type{line-height: 1.3;padding-bottom: 8px;}	
								>p:last-of-type >i{width: 20%;}
							}						
							>div:last-child{
								>p:first-of-type{padding: 10px 0;}
								.features{margin-left: 122px;line-height: 1.3;}
							}
						}
					}
				}
			}
			>div:last-child{
			  >div{
				>div{margin-bottom: 30px;
				   >img{height: 250px;}
				   >div >p >i{font-size: 13px;padding: 15px 0;}
				   } 
				}
			}
		}
	}
 }

/////// COMMUNITY
.community{
	>div{
		>h2{margin: 15px 10px 30px;text-align: center;
			&::after{display: none; }
		}
		>div{
			>div{
				>div{margin-bottom: 20px;
					}
				}
			}
		}
}
////// AREAS
.areas{padding: 30px 20px;
	>div{
		>h2{padding: 30px 0;}
		>div{
			>div{margin-bottom: 20px;
				>h3{padding: 15px 0;font-size: 20px;}
				>p{line-height: 1.3;}
			}
		}
     }
 }
/////////SERVICES
.services{padding: 30px;
     >div{
	     >div{
	    	>div{margin-bottom: 30px;}
    	}
    }
} 
////////SUBMIT
.submit{flex-direction:column;padding: 20px 0 60px;
	img{height: 30px;margin: 15px 0;}
	form{
		input{width: 70%;}
		button{width: 30%;}
	}
}
/////////FOOTER
.main-footer{margin-bottom: 30px;
	hr{margin: 0;}
	.footer-inner{justify-content: space-between;align-items: center;padding:30px 0;
		ul{flex-direction: column;line-height: 1.5;
			>li a &:hover{color: #000;}
		}
		img{height: 50px;margin: 25px 0;}

	}
	.last{flex-direction: column;
		p{text-align: center;padding: 15px 0;}
	  }
   }
/////////////Listings Page/////////////////
.rentals{
	>div{
		>div{
			>div:first-child{
				.rentals-results{flex-direction: column;
					>div{
						p{margin-top: 30px;}
						>select{background: red;border: none;color: white;}
					}
				}
				>h3{margin-bottom: 10px;display: flex;align-items: center;;
					&::after{content:'';background:#4D4D4D;width: 20%;height: 1.5px;margin: 0 20px;}

				}
				.card{margin-top:50px;;
					>a{top: 8px;}
					>div{flex-direction: column;
					    >img{width:100%;}
				       >div{margin-top: 15px;
							>div{
								>h4{font-size: 20px;}
								>img{width: 60px;height: 40px;}
							}
								
							>div:nth-of-type(1){
								>div{
									>h4{font-size: 20px;}
									>p{font-size: 10px;}
									>a{font-size: 10px;}
								}
								>div:nth-child(2){
									>h5{font-size: 12px;}
									>p{width: 80px;}
								}
							}
							>div:last-child{
								>span{font-size: 12px;}
								>a{font-size: 12px;}
								
							}

				        }
			        }
				}

			}
			>div:last-child{margin-top: 60px;;}
		}
	}
}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 568px) and (max-width:992px) {
	section{margin-bottom: 20px;}
	h2{font-size: 28px;}
	h3{font-size: 22px;}
	p{font-size: 14px;}
	.fixed-icon{left: 92%;top: 86%;padding: 5px 12px;}
	
//////NAVBAR
nav.navbar{padding:0 0px;height: 24vh;
	.main-img{
		>img{height:70px;padding-left: 10px;}}
	button.navbar-toggler{margin-right: 30px;
    	>span{height: 3px;margin: 6px 0;width:35px;}}
        #navbar{position: absolute;top:100%;background-color: #4D4D4D;width: 100%;padding:30px;z-index: 999;;
	       ul{align-items:flex-start;color: white;line-height: 1.5;;
			  >li{
				 a{color: white;}}
				 .d-none{display: none;}
				#nav-item-4{background-color: #4D4D4D;}
		    }
        }
    }

///////HERO
.hero{height: 100vh;
	.search{background-color:transparent;padding:0 0px;width:90%;top: 18%;;
		h1{font-size: 30px;align-self: flex-start;padding-bottom: 30px;color: white;}
		form{
			input{width:100%;margin-bottom:20px;
				>::placeholder{padding-left:0px;font-size: 16px;}
			}
			button{order: 4;}
		}
		ul{padding: 0;
			li{padding-right:0px;width:30%;background-color: #fff;height: 37px;margin-bottom:20px;margin-right:0px;display:flex;justify-content:left;align-items:center;padding:5px;
				a{color: black;font-size: 16px;}
				.dropdown-item{color: #000000;}
			}
		}
	}
	
}
//////// POPULAR-AREAS
.popular-areas{
		>div{
			>h2{
				&::before{width: 10%;height: 1px;margin: 8px;}
				&::after{width: 10%;height: 1px;margin: 8px;}}
			>p{padding-bottom: 30px;font-size: 18px;}
			#carousel{
			.row{
				>div{
					>div{
						img{width: 100%;height: 250px;}
						>div{margin-bottom: 0;
							>h3{padding: 15px ;}
							>div{margin:0;padding: 10px ;
							  >div{
								  >h4{padding: 12px 0;}
								  >p{line-height: 1.1;}
								}
							   .border-r{padding:0 15px ;}
						    	}
						   }
					   }
					}
					>div:last-child{>img{margin-top: 15px;}
						            >a{margin-top: 15px;}
					}
				}
			}
	    }
}	
/////// TRANDING PROPERTIES

/////// TRANDING PROPERTIES
.tranding-property{padding-bottom: 40px;
	>div{
		>h2{padding: 40px 0 30px;
			&::before{display: none;;}
			&::after{display: none;}
		}
		>div{
			>div:first-child{
				>div{margin-bottom: 25px;
					>img{height:300px;}
					>div{padding: 10px;margin-bottom: 0;
						>div{
							>div:first-child{
								>h4{padding: 10px 0;}
								>p:first-of-type{line-height: 1.3;}
								>p >i{width: 40%;padding: 7px 0;}
							}
							>div:last-child{
								>p:first-of-type{padding: 10px 0;}
								.features{margin-left: 122px;line-height: 1.3;}
							}
						}
					}
				}
			}
			
			>div:last-child{
			  >div{
				>div{margin-bottom: 30px;
				   >img{height: 250px;}
				   >div >p >i{font-size: 13px;padding: 15px 0;}
				   } 
				}
			}
		}
	}
 }
/////// COMMUNITY
.community{
	>div{padding: 0;
		>h2{margin: 15px 10px 30px;text-align: center;
			&::after{display: none; }
		}
		>div{
			>div{
				>div{margin-bottom: 20px;
					}
				}
			}
		}
}
//////// AREAS
.areas{padding: 30px 20px;
	>div{
		>h2{padding: 30px 0;}
		>div{text-align: center;
			>div{margin-bottom: 20px;
				>h3{padding: 15px 0;font-size: 20px;}
				>p{line-height: 1.3;}
			}
		}
     }
 }
////////SUBMIT
.submit{flex-direction:column;padding: 10px 0 40px;
	img{height: 30px;margin: 15px 0;}
	form{
		input{width: 70%;}
		button{width: 30%;}
	}
}
/////////SERVICES
.services{padding: 30px;
	>div{
		>div{
		   >div{margin-bottom: 30px;}
	   }
   }
} 
/////////FOOTER
.main-footer{margin-bottom: 30px;
	hr{margin: 0;}
	.footer-inner{justify-content: space-between;align-items: center;padding:30px 0;
		ul{flex-direction: column;line-height: 1.5;}
		img{height: 50px;margin: 25px 0;}

	}
	.last{flex-direction: column;
		p{text-align: center;padding: 15px 0;}
	  }
   }
/////////////Listings Page/////////////////
.rentals{
	>div{
		>div{
			>div:first-child{
				.rentals-results{display: flex;justify-content: space-between;background-color: rgb(255, 0, 0);padding: 15px;color: white;margin: 40px 0 20px;
					>div{
						>select{background: red;border: none;color: white;}
					}
				}
				>h3{margin-bottom: 10px;display: flex;align-items: center;;
					&::after{content:'';background:#4D4D4D;width: 20%;height: 1.5px;margin: 0 20px;}

				}
				.card{margin-top:50px;;
					>a{top: 8px;}
					>div{flex-direction: column;
					    >img{width:100%;height: 350px;}
				       >div{margin-top: 15px;
							>div{
								>h4{font-size: 20px;}
								>img{width: 60px;height: 40px;}
							}
								
							>div:nth-of-type(1){
								>div{
									>h4{font-size: 20px;}
									>p{font-size: 10px;}
									>a{font-size: 10px;}
								}
								>div:nth-child(2){
									>h5{font-size: 12px;}
									>p{width: 80px;}
								}
							}
							>div:last-child{
								>span{font-size: 12px;}
								>a{font-size: 12px;}
								
							}

				        }
			        }
				}

			}
		}
	}
}


}





// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1024px) {
section{margin-bottom: 60px;}
h2{font-size:30px;}
h3{font-size: 25px;}
h4{font-size: 14px;}
p{font-size: 14px;}
.fixed-icon{top: 82%;left: 93%;}
// NAVBAR
nav.navbar{height:12vh;
	li >a >img{display: none;}
}
.hero{height: 90vh;
	.search{top: 8%;
		>h1{font-size:48px;}
		>form {
			>button{width:150px;font-size:18px;height: 45px;border-radius: 4px;}
			>input{height: 45px;}}
			>ul >li{width: 20%;}

  }
}
////////// POPULAR-AREAS 
.popular-areas{
		>div{
			#carousel{
			.row{
				>div{
					>div{
						img{height: 220px;}
						>div{margin-bottom: 0;
							>h3{padding: 10px ;}
							>div{margin:10px;
							  >div{
								  >h4{padding: 12px 0;}
								}
							   .border-r{padding:0 15px ;}
						    	}
						   }
					   }
					}
					>div:last-child{
						>img{height: 220px;margin-top: 0;}
						.rentals-inner{
							>img{height: 140px;}
						}
						>a{width: 150px;margin-top: 25px;}
					 }
				}
			}
	    }
	}
////////// TRANDING PROPERTIES
.tranding-property{background-color:whitesmoke;padding-bottom: 60px;;
	>div{
		>h2{padding: 60px 0 30px;display: flex;align-items: center;justify-content: center;
			&::before{content:'';background:#4D4D4D;width: 10%;height: 2px; margin: 0 15px;}
			&::after{content:'';background:#4D4D4D;width: 10%;height: 2px; margin:  0 15px; }
		}
		>div{
			>div:last-child{
			  >div{
				>div{margin-bottom: 15px;
				   >img{height: 150px;}
				   >div{padding:7px;
					>h3{font-size: 22px;}
					>p{>i{padding: 6px 0;}}
				      }
				   } 
				}
			}
		}
	}
}
///////// COMMUNITY
.community{
	>div{
		>div{
			>div{
				>div{height:180px;
				    >div{
						>a{font-size: 16px;
							.fas{display: none;}
						}
					}
				}
			}
		}
	}
}
// AREAS
.areas{padding: 30px 20px;
	>div{
		>div{text-align: left;
			>div{margin-bottom:0;
			}
		}
     }
 }
/////////SUBMIT
.submit{flex-direction: row;padding: 10px 18px 40px;
	>p{font-size: 18px;text-align: center;}
	>img{height: 20px;}

} 
/////////SERVICES
.services{padding: 30px 100px;} 

/////////FOOTER
.main-footer{margin-bottom: 30px;
	.footer-inner{padding:40px 0;
		ul{flex-direction: row;width: 70%;line-height: 1.5;}
	}
   }
/////////////Listings Page/////////////////
.rentals{
	>div{
		>div{
			>div:first-child{
				.card{
					>a{
					>div{
					   >img{width:100%;height: 300px;object-fit: cover;}
				       >div{
							>div{
								>h4{font-size: 20px;}
								>img{width: 60px;height: 40px;}
							}
				        }
			        }
				}
			}
		}
			>div:last-child >div{display: flex;margin-top: 60px;
				.card{width:400px;margin: 5px;;
				>h3{line-height: 1.3;}
				>p{margin: 20px 0;color: #4D4D4D;}
				>div{margin: 30px 10px 0;
					>input{height: 40px;width: 80%;border: 1px solid rgba(255, 0, 0, 0.507);text-align: center;}
					>a{height: 40px;width: 80%;background-color:red;color: white;display: flex;align-items: center;justify-content: center;}
				}
			  }
			  >div:last-child{width: 400px;margin: 5px;
				>div{width: 100%;
				  >img{width: 70%;}
				  
			    }
			}
	    }

	}
}
}
}


// iphone x landscape
@media (max-width: 812px) and (min-width:780px){
	nav.navbar{height: 24vh;}
	.hero {height: 100vh;
	    .search {top: 15%;}}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
///////NAVBAR
.fixed-icon{padding: 6px 12px;top: 82%;left: 94%;
	&:hover{color: black;}
}
nav.navbar {padding: 15px 40px;height: 12vh;;
	.main-img >img{font-size: 85px;}
	 #navbar ul li a {
		font-size: 17px;}
}
.hero{height: 90vh;
	.search{width: 70%;
		>h1{font-size: 28px;}
		ul li a{font-size:16px ;}
		>form {
			>button{font-size: 20px;height: 50px;border-radius:0;}
			>input{height: 50px;}
	}
  }
}
// TRANDING PROPERTIES
.tranding-property{
	>div{
		>div{
			>div:last-child{
			  >div{
				>div{margin-bottom: 15px;
				   >img{height: 170px;}
				   >div{padding:10px;
					>h3{font-size: 25px;}
				      }
				   } 
				}
			}
		}
	}
  }
////////SUBMIT
.submit{padding: 10px 0 40px;
	>p{font-size:18px;}
	img{height: 30px;margin: 15px 0;}
	form{
		input{width: 70%;}
		button{width: 30%;}
	}
}
  /////////FOOTER
.main-footer{margin-bottom: 30px;
	.footer-inner{padding:40px 0;
		ul{width: 78%;}
	}
	.last >p{padding-right: 80px;line-height: 1.5;}
   }
/////////////Listings Page/////////////////
.rentals{
	
	>div{
		>div{
			>div:first-child{
				.rentals-results{display: flex;justify-content: space-between;background-color: rgb(255, 0, 0);padding: 15px;color: white;margin: 40px 0 20px;
					>div{
						>select{background: red;border: none;color: white;}
					}
				}
				.card{border: none;position: relative;margin-top:40px;;
					>div{
					   >img{width: 330px;height: 260px;object-fit: cover;}
				       >div{
							>div:last-child{
								>a{padding: 6px 2px;font-size: 12px;}
								
							}

				        }
			        }
				}

			}
			>div:last-child >div{flex-direction: column;
				.card{width:220px;
				>p{margin: 10px 0;}
				>div:last-child{width:220px;
				>div{width: 100%;}}
			  }
			}
		}
	}
}


}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}














